@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap");
* {
  font-family: "Mulish", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 1rem;
}

.title-container {
  text-align: center;
}

.title-container .title {
  font-size: 30px;
}

.title-container .title span {
  font-weight: 900;
}

.title-container .question-time {
  margin: 1rem 0;
  font-weight: 600;
  font-size: 18px;
}

.title-container .question-time span {
  font-weight: 800;
  color: #23dea5;
}

.questions-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  height: auto;
  border-radius: 0.8rem;
  border: 1px solid #4fe5b7;
}

@media (max-width: 720px) {
  .questions-container {
    width: 100%;
  }
}

.questions-container .questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 200px;
  border-radius: 0.8rem 0.8rem 0 0;
  background: #4fe5b7;
  padding: 1.3rem 0;
  -webkit-transition: height 1s ease;
  transition: height 1s ease;
}

.questions-container .questions .question-number {
  font-size: 18px;
  color: #eee;
  margin-bottom: 2rem;
}

.questions-container .questions .question {
  text-align: center;
  font-size: 20px;
  color: #eee;
  font-weight: 700;
}

.questions-container .results {
  text-align: center;
  position: relative;
}

.questions-container .results .result-title {
  font-size: 16px;
  color: #333;
  margin: 0.5rem 0;
}

.input-group {
  text-align: center;
}

.question-animation {
  height: 450px !important;
  border-radius: 0.8rem !important;
}

.question-animation .question {
  font-size: 30px !important;
}

.btn, .next {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  height: 40px;
  border-radius: 50px;
  margin: 1rem;
  padding: 0.5rem;
  color: #333;
  background: #fff;
  font-size: 16px;
  font-weight: 800;
  border: 1px solid #333;
  outline: none;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.btn:hover, .next:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn .choices, .next .choices {
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-right: 1px solid #979797;
  width: 30px;
  height: 40px;
  margin-right: 5px;
}

.active, .next {
  background: #4fe5b7;
  border: none !important;
  color: #eee !important;
  -webkit-transition: background 0.5s ease, -webkit-transform 0.2s ease;
  transition: background 0.5s ease, -webkit-transform 0.2s ease;
  transition: background 0.5s ease, transform 0.2s ease;
  transition: background 0.5s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
}

.active:hover, .next:hover {
  background: #23dea5;
}

.next {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=index.css.map */